body{
    margin: 0;
}

.voltar{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    left: 30px;
    top: 25px;
    transition: background-color 0.3s;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.voltar:hover{
    background-color: rgba(255, 255, 255, 0.3);
}
header{
    background-color: #0077B6;
}

img{
    height: 40px;
    width: auto;
    display: flex;
    overflow: hidden;
    position: static;
    margin-left: 200px;
    padding-bottom: 250px;
}

h2{
    float:center;
    position: relative;
    top: -200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.cadastro{
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    float: center;
    position: relative;
    top: -150px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 38%;
    width: 350px;
    background-color: white;
    padding: 30px;

}

.cadastro h3{
    font-size: 14px;
    font-weight: 400;
}



.submit{
    background-color: #3483fa;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    color: white; 
    text-align: center;
  
}

input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


