body{
    margin: 0;
}

header{
    background-color: #ffe600;
}

img{
    height: 34px;
    width: 134px;
    display: flex;
    overflow: hidden;
    position: static;
    margin-left: 200px;
    padding-bottom: 250px;
}

h2{
    float:center;
    position: relative;
    top: -200px;
    right: -20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}

.cadastro{
    border: 1px solid #e5e5e5;
    border-radius: 20px;
    float: center;
    position: relative;
    top: -150px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 38%;
    width: 350px;
    background-color: white;
    padding: 30px;

}

.cadastro h3{
    font-size: 14px;
    font-weight: 400;
}



.submit{
    background-color: #3483fa;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    color: white; 
    text-align: center;
  
}

input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}


