* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

/* Cabeçalho */
header {
    background-color: #0077B6;
    padding: 20px;
    display: flex;
    align-items: center;
}

.voltar {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: 0.3s;
}

.voltar:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

header img {
    margin-left: auto;
    height: 40px;
}

/* Título */
h2 {
    text-align: center;
    margin-top: 40px;
}

/* Card de cadastro */
.cadastro {
    background-color: white;
    width: 350px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 600;
}

/* Botão */
.btn {
    background-color: #3483fa;
    border: none;
    color: white;
    font-size: 16px;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
    transition: 0.2s;
}

.btn:hover {
    background-color: #1f6de0;
}
